<html>
<head>
  <meta charset="UTF-8">
  <title>About Cenk Ayberkin</title>
</head>
<body>
  <h1>About Cenk Ayberkin</h1>
  <p>More information coming soon ...</p>

<div class="copyright">© Copyright 2014, <a href="http://www.cenkayberkin.com">Cenk Ayberkin</a> </div>
</body>
</html>